{% section 'header' %}
<header class="header">
    <div class="left">
        <img src="images/logo.png" alt="screen logo" class="screen_logo">
        <span class="text_block">
            <strong class="logo_string">TextConntects</strong>
            <span class="tagline order_pick_up">Order Picked Up</span>
        </span>
    </div>
    <div class="right">
         <span class="order_number">#1234567890</span>
        <span class="order_number_title">Order number</span>
    </div>
</header>
<div class="container">
    <section class="col col_left">
        <div class="body">
                <div class="unique_number">
                        <span class="unique_text">[123456]</span>
                </div>
                <div class="details">
                    <p class="address">
                        <span class="pickup_content">765 N Main St, Danielson CT</span>
                        <span class="pickup_title">Pickup Address</span>
                    </p>
                    <p class="number">
                        <span class="pickup_content">(406) 555-0120</span>
                        <span class="pickup_title">Pickup Phone Number</span>
                    </p>
                </div>
                <div class="products">
                    <!-- Product block -->
                    <div class="product_block">
                        <div class="product_info">
                            <div class="img">
                                <img src="images/product_icon.png" alt="product icon" class="product_icon">
                            </div>
                            <div class="product_detail">
                                <span class="product_title">Nike White/Orange</span>
                                <span class="quantity">Quantity: <span class="product_count">1</span></span>
                            </div>
                        </div>
                        <div class="product_price">
                            <span class="currency_sign">$</span>
                            <span class="price">65.00</span>
                        </div>
                    </div>
                    <!-- End product block -->

                    <!-- Product block -->
                    <div class="product_block">
                        <div class="product_info">
                            <div class="img">
                                <img src="images/product_icon.png" alt="product icon" class="product_icon">
                            </div>
                            <div class="product_detail">
                                <span class="product_title">Nike White/Orange</span>
                                <span class="quantity">Quantity: <span class="product_count">1</span></span>
                            </div>
                        </div>
                        <div class="product_price">
                            <span class="currency_sign">$</span>
                            <span class="price">65.00</span>
                        </div>
                    </div>
                    <!-- End product block -->

                     <!-- Product block -->
                     <div class="product_block">
                        <div class="product_info">
                            <div class="img">
                                <img src="images/product_icon.png" alt="product icon" class="product_icon">
                            </div>
                            <div class="product_detail">
                                <span class="product_title">Nike White/Orange</span>
                                <span class="quantity">Quantity: <span class="product_count">1</span></span>
                            </div>
                        </div>
                        <div class="product_price">
                            <span class="currency_sign">$</span>
                            <span class="price">65.00</span>
                        </div>
                    </div>
                    <!-- End product block -->
                </div>
                <span class="in_the_way">I'm on my way</span>
        </div>
        <footer class="cta_store">
            <span class="cta_text">Call Store</span>
        </footer>
    </section>
    <section class="col col_right">
        <div class="body">
            <img src="images/order.png" alt="order" class="order_banner">
        </div>
        <div class="footer">
            <span class="status">Status</span>
            <div>
                <ul>
                    <li class="order_timeline active">
                        <span class="status_title">
                            Order Ready for Pickup
                        </span>    
                        <span class="status_date">January 22, 2022:10:00AM</span>
                    </li>
                    <li class="order_timeline inactive">
                        <span class="status_title">
                            Order ready for Pickup
                        </span>
                        <span class="status_date">January 22, 2022:10:00AM</span>
                    </li>
                    <li class="order_timeline inactive">
                        <span class="status_title">
                            Order Placed
                        </span>
                        <span class="status_date">January 22, 2022:10:00AM</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>